= form_for([@show, @show.seasons.build]) do |f|
  %p
    = f.label :number
    = f.text_field :number
  %p
    = f.label "number_of_episodes"
    = text_field_tag "number_of_episodes"
  %p
    = f.submit
