= form_for @movie do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        #{pluralize(@movie.errors.count, "error")} found:
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li
            = msg
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :year
    = f.text_field :year
  %p
    = f.label :watched
    = f.check_box :watched
  %p
    = f.submit
