= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2
        #{pluralize(@game.errors.count, "error")} found:
      %ul
        - @game.errors.full_messages.each do |msg|
          %li
            = msg
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :year
    = f.text_field :year
  %p
    = f.label :played
    = f.check_box :played
  %p
    = f.submit
