%h1
  All Games
= link_to 'New Game', new_game_path
%table
  %tr
    %th
      Title
    %th
      Year
    %th
      Played
    %th{:colspan => "3"}
  - @games.each do |game|
    %tr
      %td
        = game.title
      %td
        = game.year
      %td
        - if game.played
          Yes
        - else
          No
      %td
        = link_to "Show", game_path(game)
      %td
        = link_to "Edit", edit_game_path(game)
      %td
        = link_to "Delete", game_path(game), method: :delete, data: {confirm: 'Are you sure?'}
